:root {
  --bulma-primary-h: 189deg;
  --bulma-primary-l: 49%;
  --bulma-link-h: 36deg;
  --bulma-link-s: 87%;
  --bulma-link-l: 47%;
  --bulma-info-h: 189deg;
  --bulma-info-s: 91%;
  --bulma-info-l: 38%;
  --bulma-success-h: 37deg;
  --bulma-success-s: 95%;
  --bulma-success-l: 56%;
  --bulma-warning-h: 0deg;
  --bulma-warning-s: 0%;
  --bulma-warning-l: 93%;
  --bulma-danger-h: 189deg;
  --bulma-danger-s: 93%;
  --bulma-danger-l: 6%;
  --bulma-light-l: 84%;
  --bulma-light-invert-l: 100%;
}
